<h1>User Login</h1>

<form action="<%= session_url %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>Email:
        <input type="text" name="user[email]" value="">
    </label>
<!-- <#input needs a type, name=params go here, value prefilled stuff goes here -->
    <label>Password:
        <input type= "password" name="user[password]" value="">
    </label>

    <input type="submit" value="Step into the fire">
</form>