<h1>Bands#new</h1>
<form action="<%= bands_url %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>Name:
        <input type="text" name="band[name]">
    </label>

    <input type="submit" value="Sell out to the man">
</form>


<!-- # // <label>True:
# // <input type="radio" name="goal[status]" value="true" <%= @goal.status ? "checked" : "" %>>
# // </label>

# // <label>False: 
# // <input type="radio" name="goal[status]" value="false" <%= @goal.status ? "" : "checked" %>>
# // </label> -->